{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="container">
        <center><h2>Change Worker Size</h2></center>
        <br><br>

        <center><button type="button" onclick="window.location.href='{{ url_for('increase_workers') }}';" class="btn btn-success">Increase</button></center>
        <br>
        <center><button type="button" onclick="window.location.href='{{ url_for('decrease_workers') }}';" class="btn btn-danger">Decrease</button></center>
</div>
</div>
{% endblock content %}